h1 { 
  font-weight: normal; 
  margin-bottom:0;
  margin-top:0;
  padding-top:34px;
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'William', serif;
  color: white;
}

h2 { 
  margin-top:0;
  margin-bottom:24px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  color: white;
}

img {
  margin-bottom: 50px;
  width: 230px;
}

p { 
  text-align:center;
  font-family: 'Inter', sans-serif;
}
div{
  margin: auto;
  background-color: FireBrick;
  width:500px;
  height:500px;
  text-align:center;
}
h3 {
  font-family: 'William', serif;
margin: 0;
font-size: 15px;
text-transform: uppercase;
line-height: 18px;
font-weight: normal; 
  color: white;
}
